<a href="https://colab.research.google.com/github/Yogeshv01/PYTHON_PROJECTS/blob/main/Capstone_Project_1_Propensity_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Propensity modelling is customer insight technique which utilizes past observation analysis to predict future behavior. A single view of the consumer is created by data analytics so as to identify who the target is for the current or new products and/or services depending on the value they expect to contribute. Propensity simply predicts the likelihood that a customer will behave or act in a certain way in future.

In [3]:
#import pandas and numpy module:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
from matplotlib import style 
from numpy import *
import datetime as dt

# Load the Data

In [6]:
Online_Retail = pd.read_excel('/content/drive/MyDrive/Rajesh_Class/Files/Online Retail.xlsx')

In [7]:
Online_Retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [8]:
# Checking the Info;
Online_Retail.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [13]:
# Firstly we have convert date into date time format;
Online_Retail['InvoiceDate'] = pd.to_datetime(Online_Retail.InvoiceDate)
Online_Retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [14]:
# Describe function
Online_Retail.describe ()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [15]:
# Need to see first 20 reords
Online_Retail.head (20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom

In [16]:
# Need to see last 20 reords
Online_Retail.head (20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom

In [17]:
# Need to see sample 20 reords
Online_Retail.sample (20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
434481,574046,22620,4 TRADITIONAL SPINNING TOPS,2,2011-11-02 13:19:00,1.45,15743.0,United Kingdom
96664,544574,22698,PINK REGENCY TEACUP AND SAUCER,6,2011-02-21 13:51:00,2.95,12365.0,Cyprus
443188,574693,23393,HOME SWEET HOME CUSHION COVER,4,2011-11-06 13:32:00,3.75,14553.0,United Kingdom
91162,544089,22419,LIPSTICK PEN RED,1,2011-02-15 17:51:00,0.83,NaN,United Kingdom
369051,569010,22637,PIGGY BANK RETROSPOT,96,2011-09-30 07:36:00,2.10,14156.0,EIRE
210127,555276,85039B,S/4 IVORY MINI ROSE CANDLE IN BOWL,1,2011-06-01 17:28:00,1.63,NaN,United Kingdom
164036,550635,21181,PLEASE ONE PERSON METAL SIGN,48,2011-04-19 15:20:00,1.85,18173.0,United Kingdom
541409,581498,22327,ROUND SNACK BOXES SET OF 4 SKULLS,4,2011-12-09 10:26:00,6.63,NaN,United Kingdom
180228,552310,84378,SET OF 3 HEART COOKIE CUTTERS,2,2011-05-08 15:22:00,1.25,17323.0,United Kingdom
292184,562540,21609,SET 12 LAVENDER BOTANICAL T-LIGHTS,3,2011-08-05 15:38:00,2.95,17400.0,United Kingdom
57931,541219,85169A,IVORY LOVE BIRD CANDLE,17,2011-01-14 14:06:00,0.83,NaN,United Kingdom
141193,548502,22074,6 RIBBONS SHIMMERING PINKS,1,2011-03-31 14:17:00,2.46,NaN,United Kingdom
183159,552651,21640,ASSORTED TUTTI FRUTTI FOB NOTEBOOK,12,2011-05-10 14:09:00,0.85,16431.0,United Kingdom
459867,575885,22621,TRADITIONAL KNITTING NANCY,12,2011-11-11 13:46:00,1.65,16460.0,United Kingdom
273915,560868,22950,36 DOILIES VINTAGE CHRISTMAS,1,2011-07-21 14:14:00,1.45,14866.0,United Kingdom
110163,C545677,21534,DAIRY MAID LARGE MILK JUG,-1,2011-03-06 10:48:00,4.95,14543.0,United Kingdom
340848,566721,22550,HOLIDAY FUN LUDO,4,2011-09-14 12:50:00,3.75,12921.0,United Kingdom
26508,538514,48111,DOORMAT 3 SMILEY CATS,2,2010-12-12 14:27:00,7.95,15044.0,United Kingdom
88740,543815,22488,NATURAL SLATE RECTANGLE CHALKBOARD,3,2011-02-13 15:18:00,1.65,17255.0,United Kingdom
205576,554819,90125A,PINK BERTIE GLASS BEAD BAG CHARM,1,2011-05-26 14:09:00,2.10,17550.0,United Kingdom

In [18]:
# Need to check the Null Entries
Online_Retail.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [22]:
# Firstly need to fill the 'No Records' in Description column and check 'No records' showing or not
Online_Retail["Description"].fillna("No Records", inplace = True)
Online_Retail.sample (20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
312173,564342,23280,FOLDING BUTTERFLY MIRROR HOT PINK,1,2011-08-24 14:53:00,0.83,16340.0,United Kingdom
49782,540531,22152,PLACE SETTING WHITE STAR,2,2011-01-09 14:03:00,0.42,16549.0,United Kingdom
141769,548522,20717,STRAWBERRY SHOPPER BAG,1,2011-03-31 16:43:00,2.46,NaN,United Kingdom
237613,557877,47590A,BLUE HAPPY BIRTHDAY BUNTING,3,2011-06-23 13:13:00,5.45,15379.0,United Kingdom
540086,C581465,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,-3,2011-12-08 18:59:00,2.95,15755.0,United Kingdom
279380,561320,21930,JUMBO STORAGE BAG SKULLS,6,2011-07-26 12:57:00,2.08,16942.0,United Kingdom
450164,575168,23188,VINTAGE 2 METRE FOLDING RULER,24,2011-11-08 17:19:00,1.65,15290.0,United Kingdom
299613,563112,23230,WRAP ALPHABET DESIGN,25,2011-08-12 11:09:00,0.42,14849.0,United Kingdom
285152,561896,21718,RED METAL BEACH SPADE,12,2011-07-31 15:22:00,1.25,15819.0,United Kingdom
416860,572562,21791,VINTAGE HEADS AND TAILS CARD GAME,12,2011-10-25 09:07:00,1.25,13481.0,United Kingdom
300287,563195,23292,SPACEBOY CHILDRENS CUP,1,2011-08-12 16:36:00,2.46,NaN,United Kingdom
90726,544065,15060B,FAIRY CAKE DESIGN UMBRELLA,4,2011-02-15 13:52:00,3.75,14346.0,United Kingdom
510576,579458,22158,3 HEARTS HANGING DECORATION RUSTIC,1,2011-11-29 14:38:00,2.95,16549.0,United Kingdom
256837,559506,22488,NATURAL SLATE RECTANGLE CHALKBOARD,1,2011-07-08 15:17:00,3.29,NaN,United Kingdom
31793,539012,21672,WHITE SPOT RED CERAMIC DRAWER KNOB,192,2010-12-15 13:26:00,0.85,17858.0,United Kingdom
529504,580731,22534,MAGIC DRAWING SLATE SPACEBOY,1,2011-12-05 17:36:00,0.42,17383.0,United Kingdom
173976,551731,21915,RED HARMONICA IN BOX,12,2011-05-04 09:57:00,1.25,14307.0,United Kingdom
370156,569129,22327,ROUND SNACK BOXES SET OF 4 SKULLS,2,2011-09-30 13:40:00,2.95,15034.0,United Kingdom
40770,539742,21035,SET/2 RED RETROSPOT TEA TOWELS,1,2010-12-21 15:20:00,5.91,NaN,United Kingdom
251667,559055,23238,SET OF 4 KNICK KNACK TINS LONDON,1,2011-07-05 17:09:00,8.29,NaN,United Kingdom

In [23]:
# Again check the null values
Online_Retail.isnull().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [29]:
# Now handled null values in Customer_ID column
Online_Retail_1 =Online_Retail.dropna(subset=['CustomerID'])
Online_Retail_1.sample (20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
216586,555850,21564,PINK HEART SHAPE LOVE BUCKET,2,2011-06-07 13:35:00,2.95,16550.0,United Kingdom
152916,549713,21421,PORCELAIN ROSE LARGE,10,2011-04-11 14:11:00,1.25,17611.0,United Kingdom
328660,565800,22796,PHOTO FRAME 3 CLASSIC HANGING,4,2011-09-07 10:23:00,9.95,14911.0,EIRE
458742,575848,22356,CHARLOTTE BAG PINK POLKADOT,2,2011-11-11 12:10:00,0.85,14178.0,United Kingdom
696,536420,22111,SCOTTIE DOG HOT WATER BOTTLE,3,2010-12-01 12:03:00,4.95,16583.0,United Kingdom
21765,538126,22425,ENAMEL COLANDER CREAM,3,2010-12-09 15:50:00,4.95,17838.0,United Kingdom
429935,573576,23307,SET OF 60 PANTRY DESIGN CAKE CASES,1,2011-10-31 14:09:00,1.25,14096.0,United Kingdom
444678,574739,23251,VINTAGE RED ENAMEL TRIM MUG,12,2011-11-06 16:04:00,1.25,16357.0,United Kingdom
52452,540795,22625,RED KITCHEN SCALES,2,2011-01-11 12:00:00,8.50,13078.0,United Kingdom
538392,581405,22522,CHILDS GARDEN FORK BLUE,1,2011-12-08 13:50:00,0.85,13521.0,United Kingdom
446918,574936,21984,PACK OF 12 PINK PAISLEY TISSUES,12,2011-11-07 17:06:00,0.39,13066.0,United Kingdom
458053,575755,22733,3D TRADITIONAL CHRISTMAS STICKERS,18,2011-11-11 10:45:00,1.25,17015.0,United Kingdom
415519,572542,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,2011-10-24 16:20:00,0.29,17272.0,United Kingdom
301521,563328,21246,RED RETROSPOT BIG BOWL,1,2011-08-15 13:07:00,4.95,14606.0,United Kingdom
396560,571081,22794,SWEETHEART WIRE MAGAZINE RACK,1,2011-10-13 15:23:00,7.95,16775.0,United Kingdom
124580,546983,21326,AGED GLASS SILVER T-LIGHT HOLDER,12,2011-03-18 12:27:00,0.65,16626.0,United Kingdom
230010,557117,21466,RED FLOWER CROCHET FOOD COVER,6,2011-06-16 17:04:00,3.75,14849.0,United Kingdom
179389,552273,23284,DOORMAT KEEP CALM AND COME IN,2,2011-05-08 12:26:00,7.95,13021.0,United Kingdom
212947,555514,22483,RED GINGHAM TEDDY BEAR,2,2011-06-05 10:41:00,2.95,17071.0,United Kingdom
296278,562880,84997B,CHILDRENS CUTLERY RETROSPOT RED,24,2011-08-10 10:53:00,4.15,15838.0,United Kingdom

In [31]:
Online_Retail_1.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [32]:
# Now need to check the duplicate records
Online_Retail_1.duplicated().sum()

5225

In [34]:
# Remove these duplicates using drop function
Online_Retail_1 = Online_Retail_1.drop_duplicates()

In [35]:
Online_Retail_1.duplicated().sum()

0